.c-adding {
  //border: 1px solid red;
  margin-bottom: $medium-value;
  &__cta-manager {
    position: relative
  }
  &__cta-manager button {
    width: 100%;
  }
  &__cta-manager button::after {
    content: '';
    width: 0; 
    height: 0; 
    border-left: 0.7rem solid transparent;
    border-right: 0.7rem solid transparent;  
    border-top: 0.7rem solid $_white;    
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
  &__cta-manager.close button::after {
    content: '';
    width: 0; 
    height: 0; 
    border-top: 0.7rem solid transparent;
    border-bottom: 0.7rem solid transparent;  
    border-left: 0.7rem solid $_white;    
  }
  
  &__form {
    border: 1px solid;
    padding: 0 $medium-value $medium-value;
  }
  &__title {
    margin-bottom: $small-value;
  }

}
