.c-actions {
  width: 100%;
  .c-icon {
    padding: 0;
    height: 100%;
    padding-left: 1.2rem;
    //flex: 0 0 auto;
    border-left: 1px solid #fff;
    width: 100%;
  }

}

.c-block-list__fields .c-actions {
  .c-icon {
    @media only screen and (max-width : $small-screen) {
        //width: 50%;
        height: 4rem;
    }
  }
}
.c-block-list__forms .c-actions {
  .c-icon {
    @media only screen and (max-width : $small-screen) {
        //width: 33.3334%;
        height: 4rem;
    }
  } 
}