/* icons
   ========================================================================== */

// icons font
@font-face {
    font-family: "icons";
    src: url("../fonts/icons/icons.woff2") format("woff2"),
         url("../fonts/icons/icons.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
.c-icon::before, .c-icon-after::after {
    position: relative;
    top: -.05em;
    display: inline-block;
    margin: 0 em($extra-small-value) 0 0;
    vertical-align: middle;
    font: normal normal normal $line-height + em/0 icons;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.c-icon-after {
    &::after {
        margin: 0 0 0 em($extra-small-value);
    }
}

// icons library

.c-icon--arrow-down::before, .c-icon-after--arrow-down::after {
    content: "\ea01";
}
.c-icon--arrow-left::before, .c-icon-after--arrow-left::after {
    content: "\ea02";
}
.c-icon--arrow-right::before, .c-icon-after--arrow-right::after {
    content: "\ea03";
}
.c-icon--arrow-up::before, .c-icon-after--arrow-up::after {
    content: "\ea04";
}
.c-icon--checkmark::before, .c-icon-after--checkmark::after {
    content: "\ea05";
}
.c-icon--facebook::before, .c-icon-after--facebook::after {
    content: "\ea06";
}
.c-icon--google::before, .c-icon-after--google::after {
    content: "\ea07";
}
.c-icon--pencil::before, .c-icon-after--pencil::after {
    content: "\ea08";
}
.c-icon--trash::before, .c-icon-after--trash::after {
    content: "\ea09";
}
.c-icon--twitter::before, .c-icon-after--twitter::after {
    content: "\ea0a";
}