.c-actions {
  height: 100%;
  .c-icon {
    padding: 0;
    height: 100%;
    padding-left: 1.2rem;
    @media only screen and (max-width : $small-screen) {
        width: 32%;
    }
  }
  &__view {
    display: none;
    @media only screen and (max-width : $small-screen) {
        display: inline;
    }
  }
}

.c-block-list__fields .c-actions {
  .c-icon {
    @media only screen and (max-width : $small-screen) {
        width: 49%;
        height: 4rem;
    }
  }
}
.c-block-list__forms .c-actions {
  .c-icon {
    @media only screen and (max-width : $small-screen) {
        width: 32%;
        height: 4rem;
    }
  }
}