<div *ngIf="tower">
<h1>Tower : {{tower.title}}</h1>
  <h2>Add Hero</h2>  
  <form #f="ngForm" (ngSubmit)="add(tower, f.value, f.valid)" novalidate>
    <div>
      <label>Hero Name</label>
      <input type="text" name="name"  [(ngModel)]="newHero.name" #name="ngModel" required>
      <small [hidden]="name.valid || (name.pristine && !f.submitted)">
        Name is required
      </small>
    </div>

    <div>
        <label>Hero Role</label>
        <select name="power" [(ngModel)]="newHero.power">
            <option *ngFor="let power of powers" [value]="power.value">  
            {{power.display}}
            </option>
        </select>
    </div>
    
    <div>
      <label>
          <input type="checkbox" name="isChampion"  [(ngModel)]="newHero.isChampion">
          Is Champion
      </label>
    </div>

      <button type="submit">Submit</button>
  </form>

  <h2>List of Heroes</h2>
  <ul class="c-heroes-list">     
    <li class="c-heroes-list__item" *ngFor="let hero of tower.heroes">
      <div *ngIf="hero.power == 'speed'" class="o-grid o-grid--1@xs">
        <div class="o-grid__item u-flex-item-fluid"><span>{{hero.name}} Speed</span></div>
        <div class="o-grid__item">
          <div class="c-actions">
            <button class="delete" (click)="delete(tower, hero); $event.stopPropagation()">x</button>
            <button (click)="gotoDetail(hero)">o</button>
          </div>
        </div>
      </div>
      <div *ngIf="hero.power == 'flexibility'" class="o-grid o-grid--1@xs">
        <div class="o-grid__item u-flex-item-fluid"><span>{{hero.name}} Flex</span></div>
        <div class="o-grid__item">
          <div class="c-actions">
            <button class="delete" (click)="delete(tower, hero); $event.stopPropagation()">x</button>
            <button (click)="gotoDetail(hero)">o</button>
          </div>
        </div>
      </div>
      <div *ngIf="hero.power == 'strength'" class="o-grid o-grid--1@xs">
        <div class="o-grid__item u-flex-item-fluid"><span>{{hero.name}} Strength</span></div>
        <div class="o-grid__item">
          <div class="c-actions">
            <button class="delete" (click)="delete(tower, hero); $event.stopPropagation()">x</button>
            <button (click)="gotoDetail(hero)">o</button>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <button (click)="goBack()">Back</button>
<!--<div *ngIf="selectedHero">-->
<!--  <h2>-->
<!--    {{selectedHero.name | uppercase}} is my hero-->
<!--  </h2>-->
<!--  <button (click)="gotoDetail(tower._id, selectedHero._id)">View Details</button>-->
<!--</div>-->
</div> 
