<div *ngIf="tower">
  
  <!--Add Field-->
  <div class="c-adding">
    <div class="cta-manage-form" [class.close]="stateButton == 'inactive'">
      <button (click)="togglestates()">Add Field</button>
    </div>
    <form #f="ngForm" (ngSubmit)="add(tower, f.value, f.valid)" novalidate [@heroesState]="state" class="c-adding__form">
      <div class="o-grid o-grid--4 u-flex-cross-end o-grid--3@lg o-grid--2@md o-grid--1@sm">
      <div class="o-grid__item">
          <label for="type_field">Type*</label>
          <select id="type_field" name="type_field" [(ngModel)]="newHero.type_field">
              <option *ngFor="let type_field of type_fields" [value]="type_field.value">  
              {{type_field.display}}
              </option>
          </select>
      </div>
      <div class="o-grid__item">
        <label for="name">Name*</label>
        <input type="text" id="name" name="name"  [(ngModel)]="newHero.name" #name="ngModel" placeholder="name" required>
        <small [hidden]="name.valid || (name.pristine && !f.submitted)">
          Name is required
        </small>
      </div>
      <div class="o-grid__item">
        <label for="label">Label</label>
        <input type="text" id="label" name="label" [(ngModel)]="newHero.label" #label="ngModel" placeholder="label">
      </div>
      <div class="o-grid__item">
        <label for="help_text">Help text</label>
        <input type="text" id="help_text" name="help_text" [(ngModel)]="newHero.help_text" #help_text="ngModel" placeholder="Text for help">
      </div>
      <div class="o-grid__item">
        <label for="placeholder">Placeholder</label>
        <input type="text" id="placeholder" name="placeholder" [(ngModel)]="newHero.placeholder" #placeholder="ngModel" placeholder="placeholder">
      </div>
      <div class="o-grid__item">
        <label for="options_list">Options List</label>
        <textarea id="options_list" name="options_list" [(ngModel)]="newHero.options_list" #options_list="ngModel" placeholder="value1|display1;value2|display2"></textarea>
      </div>
      <div class="o-grid__item">   
        <input type="checkbox" id="required" name="required" [(ngModel)]="newHero.required">
        <label for="required">Required</label>
      </div>      
      <div class="o-grid__item"><button class="c-icon-after c-icon-after--checkmark" type="submit">Submit</button></div>
      </div>
    </form>
  </div>

  <!--Form Built-->
  <div class="c-block-list">
  <div class="c-block-list__header o-grid">
    <h2 class="c-block-list__title o-grid__item">{{ tower.title }}</h2>
    <span class="c-block-list__count o-grid__item u-flex-item-fluid">{{ tower.heroes.length }} item(s)</span>
  </div>
  <form id="{{ tower.name }}" name="{{ tower.name }}">
    <ul class="c-block-list__fields">     
      <li class="c-block-list__item" *ngFor="let hero of tower.heroes">
        <!--input text-->
        <div *ngIf="hero.type_field == 'text'" class="o-grid o-grid--1@sm">
          <div class="o-grid__item u-flex-item-fluid">
            <input type="{{hero.type_field}}" id="{{hero.name}}" name="{{hero.name}}" placeholder="{{hero.placeholder}}" [attr.required]="hero.required === true ? '' : null"/>
          </div>
          <div class="o-grid__item">
            <div class="c-actions">
              <button class="delete c-icon c-icon--trash" (click)="delete(tower, hero); $event.stopPropagation()"></button>
              <button class="c-icon c-icon--pencil" (click)="gotoDetail(hero)"></button>
            </div>
          </div>
        </div>
        <!--select-->
        <div *ngIf="hero.type_field == 'select'" class="o-grid o-grid--1@sm">
          <div class="o-grid__item u-flex-item-fluid">
            <select id="{{hero.name}}" name="{{hero.name}}">
              <option value="{{option[0]}}" *ngFor="let option of hero.options_list|splitToTab">{{option[1]}}</option>
            </select>
          </div>
          <div class="o-grid__item">
            <div class="c-actions">
              <button class="delete c-icon c-icon--trash" (click)="delete(tower, hero); $event.stopPropagation()"></button>
              <button class="c-icon c-icon--pencil" (click)="gotoDetail(hero)"></button>
            </div>
          </div>
        </div>
        <!--checkbox-->
        <div *ngIf="hero.type_field == 'checkbox'" class="o-grid o-grid--1@sm">
          <div class="o-grid__item u-flex-item-fluid">
            <span *ngFor="let option of hero.options_list|splitToTab; let i=index">
              <input type="{{hero.type_field}}" name="{{hero.name}}{{i+1}}" id="{{hero.name}}{{i+1}}" value="{{option[0]}}" class="checkbox-custom">
              <label attr.for="{{hero.name}}{{i+1}}" class="checkbox-custom-label">{{option[1]}}</label>
            </span>
          </div>
          <div class="o-grid__item">
            <div class="c-actions">
              <button class="delete c-icon c-icon--trash" (click)="delete(tower, hero); $event.stopPropagation()"></button>
              <button class="c-icon c-icon--pencil" (click)="gotoDetail(hero)"></button>
            </div>
          </div>
        </div>
        <!--radio-->
        <div *ngIf="hero.type_field == 'radio'" class="o-grid o-grid--1@sm">
          <div class="o-grid__item u-flex-item-fluid">
            <span *ngFor="let option of hero.options_list|splitToTab; let i=index">
              <input type="{{hero.type_field}}" name="{{hero.name}}" id="{{hero.name}}{{i+1}}" value="{{option}}" [attr.checked]="i === 0 ? '' : null" class="radio-custom">
              <label attr.for="{{hero.name}}{{i+1}}" class="checkbox-custom-label">{{option}}</label>
            </span>
          </div>
          <div class="o-grid__item">
            <div class="c-actions">
              <button class="delete c-icon c-icon--trash" (click)="delete(tower, hero); $event.stopPropagation()"></button>
              <button class="c-icon c-icon--pencil" (click)="gotoDetail(hero)"></button>
            </div>
          </div>
        </div>
        <!--button-->
        <div *ngIf="hero.type_field == 'button'" class="o-grid o-grid--1@sm">
          <div class="o-grid__item u-flex-item-fluid">
            <button id="{{hero.name}}" name="{{hero.name}}" class="btn btn-primary">{{hero.label}}</button>
          </div>
          <div class="o-grid__item">
            <div class="c-actions">
              <button class="delete c-icon c-icon--trash" (click)="delete(tower, hero); $event.stopPropagation()"></button>
              <button class="c-icon c-icon--pencil" (click)="gotoDetail(hero)"></button>
            </div>
          </div>
        </div>
        <div *ngIf="hero.help_text" class="help_text">{{ hero.help_text }}</div>
      </li>
    </ul>
  </form>
  <div class="c-nav-footer">
    <button class="c-icon c-icon--arrow-left" (click)="goBack()">Back</button>
  </div>
  
  </div>  
  
</div> 
