<h3>Top Heroes</h3>
<div>
  <label>Tower title:</label> <input (keyup.enter)="add(towerTitle.value); towerTitle.value=''" #towerTitle />
  <button (click)="add(towerTitle.value); towerTitle.value=''">
    Add
  </button>
</div>
<div class="grid grid-pad">
  <div *ngFor="let tower of towers" (click)="gotoTower(tower)" class="col-1-4">
    <div class="module hero">
      <h4>{{tower.title}}</h4>
      <button class="delete" (click)="delete(tower); $event.stopPropagation()">x</button>
      <button class="edit" (click)="gotoDetail(tower); $event.stopPropagation()">o</button>
    </div>
  </div>
</div>
<hero-search></hero-search>