<div *ngIf="tower">
<h1>{{tower.title}}</h1>
  <h2>My Heroes</h2>
  <div>
    <label>Hero name:</label> <input (keyup.enter)="add(tower, heroName.value); heroName.value=''" #heroName />
    <button (click)="add(tower, heroName.value); heroName.value=''">
      Add
    </button>
  </div>
  <ul class="heroes">
    <li *ngFor="let hero of tower.heroes" (click)="onSelect(hero)"
      [class.selected]="hero === selectedHero">
    <span class="badge">{{hero._id}}</span>
    <span>{{hero.name}}</span>
    <button class="delete" (click)="delete(tower, hero); $event.stopPropagation()">x</button>
  </li>
  </ul>
  <button (click)="goBack()">Back</button>
<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail(tower._id, selectedHero._id)">View Details</button>
</div>
</div> 
