/* imports
   ========================================================================== */

// import settings
@import "settings/global-variables";
@import "settings/color-variables";
@import "settings/fonts";

// import tools
@import "tools/functions";
@import "tools/mixins";

// import generic
@import "generic/normalize";

// import base
@import "base/base";
@import "base/forms";
@import "base/tables";
@import "base/print";
@import "base/responsive";

// import objects
@import "objects/grids";
@import "objects/container";
@import "objects/media";
@import "objects/utilities";

// import components
@import "components/icons";
@import "components/c-adding";
@import "components/c-nav";
@import "components/c-block-list";

// component tower list
.c-forms-list__item {
    border: 1px solid grey;
    position: relative;
    width: 100%;
    margin-bottom: $small-value;
    @media only screen and (max-width : $small-screen) {
        min-height: auto;
    }
}

.c-heroes-list__item {
  margin-bottom: $small-value;
}
  
.o-container input[type="text"], .o-container select, .o-container textarea {
    width: 100%;
}

.c-forms-list__item__title {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #cca;
  padding: 1.2rem 2.4rem;
  cursor: pointer;
  &:hover {
    background-color: #aca;
  }
}

.c-actions {
  height: 100%;
  button {
    padding: 0;
    height: 100%;
    padding-left: 1.2rem;
  }
}
