<div *ngIf="tower">
  <h2>{{tower.title}} details!</h2>
  <form #f="ngForm" (ngSubmit)="save(f.value, f.valid)" novalidate>
    <div>
        <label>Title</label>
        <input type="text" 
            name="title" [(ngModel)]="tower.title" 
            #title="ngModel" required minlength="3">
        <!--show error only when field is not valid & it's dirty or form submited-->
        <small [hidden]="title.valid || (title.pristine && !f.submitted)">
            Title is required (minimum 3 characters).
        </small>
    </div>
    <button type="submit">Submit</button>
  </form>
  <span>Add Heroes</span>
  <button (click)="goBack()">Back</button>
  <!--<button (click)="save()">Save</button>-->

</div>
