// Keep the Input import for now, we'll remove it later:
import { Component, Input, OnInit } from '@angular/core';
import { ActivatedRoute, Params }   from '@angular/router';
import { Location }                 from '@angular/common';

import { Tower } from '../../../hero';
import { HeroService } from '../../../services/hero.service';


@Component({
    moduleId: module.id,
    selector: 'towers-detail',
    templateUrl: 'towers-detail.component.html',
    styleUrls: [ 'towers-detail.component.css' ]
})
export class TowersDetailComponent implements OnInit {
  
    tower: Tower;
    
    constructor(
      private heroService: HeroService,
      private route: ActivatedRoute,
      private location: Location
    ) {}
    
    ngOnInit(): void {      
      this.route.params.forEach((params: Params) => {
        let id = params['id'];
        this.heroService.getTower(id)
          .then(tower => this.tower = tower);
      });
    }
    goBack(): void {
      this.location.back();
    }
    save(tower: Tower, isValid: Boolean): void {
      if(isValid)
        this.heroService.updateTower(this.tower)
          .then(() => this.goBack());
    }


}
